<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>判別結果</title>
  </head>
  <body>
    <div class="xxx">
    <h1>判別結果</h1>
    <img src={{img}} alt="結果" title="結果">
    {% for ban,desc,kaku in namae %}
      <p class="zyuni">{{ban}}. {{desc}} {{kaku}}%</p>
    {% endfor %}
    <a href="./">戻る</a>
  </div>
  </body>
</html>

<style type="text/css">
div {
  background: #ffffff;
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
img{
  height: 250px;
}

</style>